{% set allow_document_transverse_institution = is_granted('INSTITUTION_READ_WRITE_ARCHIVE_DOCUMENTTRANSVERSE', institution) %}

{% if is_granted('INSTITUTION_LIST_DOCUMENTTRANSVERSE', institution) %}
    <div class="admin-block">

        <h5 style="margin-bottom: 2em;">{{ 'entity.Interlocutor.documenttransverse.list'|trans }}

            {% if allow_document_transverse_institution %}
                <a class="btn btn-primary float-right"
                   href="{{ path('admin.institution.addTransverseDocument', {'id': institution.id }) }}">
                    <i class="fa fa-plus"></i>
                </a>
            {% endif %}
        </h5>

        <div class="table-responsive">

            <table class="w-100">
                <tr>
                    <th>{{ 'entity.DocumentTransverse.field.name'|trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.field.porteeDocument'|trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.field.TypeDocument'|trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.field.validStartAt' |trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.field.validEndAt' |trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.field.isValid'|trans }}</th>
                    <th>{{ 'entity.DocumentTransverse.action.label'|trans }}</th>
                </tr>
                {% for document in institution.DocumentTransverses %}

                        <tr>
                            <td>
                                <a href="{{ path('document_transverse_institution.show', {'institution':institution.id,id: document.id}) }}">{{ document.name }}</a>
                            </td>
                            <td>{{ document.porteeDocument.name }}</td>
                            <td>{{ document.TypeDocument.name }}</td>

                            <td>{{ document.validStartAt|date('d-m-Y') }}</td>
                            <td>{{ document.validEndAt|date('d-m-Y') }}</td>

                            <td>
                                {% if document.isValid %}
                                    <span class="badge badge-success">{{ 'entity.DocumentTransverse.action.valid'|trans }} </span>
                                {% else %}
                                    <span class="badge badge-danger"> {{ 'entity.DocumentTransverse.action.invalid'|trans }} </span>
                                {% endif %}
                            </td>
                            <td>
                                <a title="Voir fiche"
                                   href="{{ path('document_transverse_institution.show', {'institution':institution.id,id: document.id}) }}">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {% if is_granted('INSTITUTION_LIST_DOCUMENTTRANSVERSE', institution) %}
                                    {% if document.filename != null %}
                                        <a href="{{ vich_uploader_asset(document, 'filenameVich') }}" download
                                           title="{{ 'entity.DocumentTransverse.action.download'|trans }}">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-download c-grey"></i>
                                {% endif %}

                                {% if allow_document_transverse_institution and document.deletedAt is null %}
                                    <a href="{{ path('document_transverse.archive_restore', { id: document.id}) }}" title="{{ 'form.action.archive'|trans}}" >
                                        <i class="fa fa-archive"></i>
                                    </a>
                                {% endif %}

                                {% if allow_document_transverse_institution and document.deletedAt is not null %}
                                    <a href="{{ path('document_transverse.archive_restore', { id: document.id}) }}" title="{{ 'form.action.restore'|trans}}" >
                                        <i class="fa fa-box-open"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
