{% set activeMenu = 'no_conformity' %}

{% extends 'layout/app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('deviation-system') }}
{% endblock %}

{% block title %}Deviation Système - NC (corrections){% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('no_conformity.protocol_deviation_crex') }}" title="Accueil">Non-Conformités</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('deviation.system.list')}}">{{ 'entity.NoConformity.menu.system'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ path('deviation.system.declaration')}}">{{ 'deviation.titre.declaration'|trans }}</a>
            </li>
        </ol>
    </nav>

    {% include 'menu/deviation_system.html.twig' with {'activetab': 'declaration'} %}

    <h1>{% if action == 'edit' %} Edition corrections de déviations systèmes {% else %} Création corrections de déviations systèmes {% endif %}</h1>

    {{ form_start(form) }}

        <div class="container-fluid admin-block pl-3 mb-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">{{ form_row(form.applicationPlannedAt) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">{{ form_row(form.realizedAt) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">{{ form_row(form.description) }}</div>
            </div>

            <div class="row">
                <div class="col-lg-6">{{ form_row(form.efficiencyMeasure) }}</div>
                <div class="col-lg-6">{{ form_row(form.notEfficiencyMeasureReason) }}</div>
            </div>

            <div class="row">
                <div class="col-lg-3 offset-9">
                    <button class="btn btn-primary float-right" type="submit">Enregistrer</button>
                </div>
            </div>

        </div>

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('deviation-system') }}
{% endblock %}
