{% set activeMenu = 'project' %}
{% set subMenu = 'project' %}
{% set activeMenu2 = 'dates' %}

{% extends 'layout/app.html.twig' %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('projects.index') }}" title="{{ 'app.home'|trans }}">{{ 'app.home'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.home.index', { 'id' : project.id }) }}" title="{{ project.acronyme }}">{{ project.acronyme }}</a></li>
            <li class="breadcrumb-item active">{{ 'menu.project.statutory'|trans}} > {{ 'menu.reglementaire.rgpd'|trans }}</li>
        </ol>
    </nav>

    {# Onglets dates et chiffres / Soumissions / rgpd #}
    {% include 'menu/reglementaire.html.twig' with {'activetab': 'rgpd'} %}

    <h1>{{ 'entity.Rule.action.list'|trans }}</h1>

    {% if rule is not null %}
        <div class="admin-block">
            <div class="sf-read">
                <h5>{{ 'entity.Rule.section.section1'|trans }}</h5>
                <dl class="row">
                    <div class="col-5">
                        <dt>{{ 'entity.Rule.field.formality'|trans }} :</dt>
                        <dd>{{ rule.formality }}</dd>
                    </div>
                    <div class="col-7">
                        <dt>{{ 'entity.Rule.field.conformity'|trans }} :</dt>
                        <dd>{% if rule.conformity == 1 %} {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="admin-block">
            <div class="sf-read">
                <h5>{{ 'entity.Rule.section.section2'|trans }}</h5>
                <dl class="row">
                    <div class="col-5">
                        <dt>{{ 'entity.Rule.field.studyTransfer'|trans }} :</dt>
                        <dd>{% if rule.studyTransfer == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                        {% if rule.outStudyTransfer %}
                            <dt>{{ 'entity.Rule.field.study_transfer_territory'|trans }} :</dt>
                            <dd>{{ rule.studyTransferTerritory }}</dd>
                        {% endif %}
                    </div>
                    <div class="col-7">
                        <dt>{{ 'entity.Rule.field.outStudyTransfer'|trans }} :</dt>
                        <dd>{% if rule.outStudyTransfer == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                        {% if rule.outStudyTransfer %}
                            <dt>{{ 'entity.Rule.field.out_transfer_territory'|trans }} :</dt>
                            <dd>{{ rule.outTransferTerritory }}</dd>
                            <dt>{{ 'entity.Rule.field.post'|trans }} :</dt>
                            <dd>{% if rule.post == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                            <dt>{{ 'entity.Rule.field.partner'|trans }} :</dt>
                            <dd>{{ rule.partner }}</dd>
                        {% endif %}
                    </div>
                </dl>
            </div>
        </div>

        <div class="admin-block">
            <div class="sf-read">
                <h5>{{ 'entity.Rule.section.section3'|trans }}</h5>
                <dl class="row">
                    <div class="col-5">
                        <dt>{{ 'entity.Rule.field.mapping'|trans }} :</dt>
                        <dd>{% if rule.mapping == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                        {% if rule.mapping %}
                            <dt>{{ 'entity.Rule.field.reference'|trans }} :</dt>
                            <dd>{{ rule.reference }}</dd>
                            <dt>{{ 'entity.Rule.field.validateMapping'|trans }} :</dt>
                            <dd>{% if rule.validateMapping == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                            <dt>{{ 'entity.Rule.field.eTmf'|trans }} :</dt>
                            <dd><a href="{{ rule.eTmf }}">{{ rule.etmf }}</a></dd>
                        {% endif %}
                    </div>
                    <div class="col-7">
                        <dt>{{ 'entity.Rule.field.dataProtection'|trans }} :</dt>
                        <dd>{% if rule.dataProtection == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                        <dt>{{ 'entity.Rule.field.dataAccess'|trans }} :</dt>
                        <dd>{% if rule.dataAccess == 1 %}  {{ 'general.yes'|trans }} {% else %} {{ 'general.no'|trans }} {% endif %}</dd>
                    </div>
                </dl>

                {% if is_granted('PROJECT_WRITE', rule.project) and is_granted('RULE_EDIT', rule) %}
                    <a class="btn btn-primary" href="{{ path('project.rule.edit', {
                        'id': project.id, 'rule': rule.id }) }}">{{ 'entity.Rule.action.modify'|trans }}</a>
                {% endif %}

            </div>
        </div>
    {% endif %}

{% endblock %}
