{% set activeMenu = 'project' %}
{% set subMenu = 'project' %}
{% set activeMenu2 = 'protocol-deviation' %}

{% extends 'layout/app.html.twig' %}

{% block title %}Deviation - actions{% endblock %}

{% block body %}

    <h1>Deviations protocolaires</h1>

    {% include 'menu/deviation.html.twig' with {'activetab': 'action'} %}

    <br>

    <h2>{% if action == 'edit' %} {{ 'entity.Deviation.DeviationAction.action.modify'|trans }} {% else %} {{ 'entity.Deviation.DeviationAction.action.new'|trans }} {% endif %}</h2>

    <div class="admin-block">
        {{ form_start(form) }}

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.typeAction, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.typeAction) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.description) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.applicationAt, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.applicationAt) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.doneAt, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.doneAt) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.status, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.status) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    {{ form_label(form.typeManager, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.typeManager) }}
                </div>
            </div>

        <div class="row mb-3">
            <div class="col-4">
                {{ form_label(form.intervener, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.intervener) }}
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-4">
                {{ form_label(form.interlocutor, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
            </div>
            <div class="col-4">
                {{ form_widget(form.interlocutor) }}
            </div>
        </div>

            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary" type="submit">{{ ('entity.Deviation.DeviationReviewAction.action.'~action)|trans }}</button>
                    <a class="btn btn-secondary" href="{{ path('deviation.declaration', { 'projectID' : project.id, 'deviationID' : deviation.id }) }}">{{ ('form.action.cancel')|trans }}</a>
                </div>
            </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('deviation') }}
{% endblock %}
