{% set activeMenu = 'studies' %}

{# Allow Edit #}
{% set allowEdit = is_granted('ROLE_STUDY_WRITE') %}

{% set labelBtnSave = (action == 'show' ? 'form.btn.edit' : 'form.btn.edit2') %}

{% extends 'ETMF/layout/app.html.twig' %}

{% block file_widget %}
    <!-- drag and drop -->
    <div id="filedrag">

        <span id="filedrag_text_drop" >{{ 'form.text_drag_choose' | trans }}</span>
        <span id="filedrag_text_hover" class="d-none">{{ 'form.text_drag_hover' | trans }}</span>

        <div class="d-none"><label for="study_logo">{{ form_widget(form) }}</label></div>

    </div>
    <!-- info files + progress -->
    <div class="mx-auto d-none" id="info_file">
        <div id="preview_file"></div>
        <div id="">{{ 'description_file' | trans }} : <strong id="description_file"></strong></div>
    </div>
{% endblock %}

{% block body %}

    <h1>{{ (row.id is null) ? 'entity.Study.new.header'|trans : row.name }}</h1>
   

    <div class="admin-block switchable-form-wrap">

        <div class="sf-read{{ action == 'edit' ? ' d-none' : '' }}">
            <dl>
                <dt>{{ 'entity.Study.name'|trans }}</dt>
                <dd>{{ row.name  }}</dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.ctmsApiUrl'|trans }}</dt>
                <dd>{{ row.ctmsApiUrl  }}</dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.storage'|trans }}</dt>
                <dd>{{ row.storage is defined ? row.storage|number_format(2, '.') ~' Go' : ''  }}</dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.protocol'|trans }}</dt>
                <dd>{{ row.protocol  }}</dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.color'|trans }}</dt>
                <dd><span style="border-radius: 5px; display:block;width:30px; height:30px;background-color:{{ row.color  }};"></span></dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.logo'|trans }}</dt>
                <dd>
                    {% if row.logo is defined and row.logo is not empty %}
                        {% set logo_path = documents_path ~ '/' ~ row.logo %}
                        <img class="card-img-top px-5 pt-3" src="{{ asset(logo_path) | imagine_filter('thumb') }}" alt="logo" />
                    {% endif %}
                </dd>
            </dl>
            <dl>
                <dt>{{ 'entity.Study.sponsor'|trans }}</dt>
                <dd>{{ row.sponsor.label ?? ""  }}</dd>
            </dl>
            

            {% if allowEdit %}
                <button class="btn btn-primary sf-button">{{ 'form.btn.edit' |  trans }}</button>
            {% endif %}
        </div>

        <div class="sf-write{{ action == 'show' ? ' d-none' : '' }}">
            {% if not form is null %}

            {% form_theme form _self %}
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary" type="submit">{{ ('form.btn.'~(action == 'create' ? 'create' : 'save'))|trans }}</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
    
{% endblock %}
