{# set current menu #}
{% set activeMenu = 'project' %}

{% extends 'layout/app.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin.projects.index') }}" title="{{ 'menu.admin.home'|trans }}">{{ 'menu.admin.home'|trans }}</a></li>
            <li class="breadcrumb-item active">
                {{ 'menu.admin.studies' | trans }}
            </li>
        </ol>
    </nav>

    <h1>{{ 'entity.Interlocutor.project.project_list'|trans }}
        {% if is_granted('PROJECT_CREATE') %}
            <a class="btn btn-primary" href="{{ path('admin.project.new') }}" ><i class="fa fa-plus"></i></a>
        {% endif %}
    </h1>

    {{ list.render|raw }}

{% endblock %}
