{# set current menu #}
{% set activeMenu = 'project' %}
{% set centres = [] %}
{% set newArray = [] %}

{% extends 'layout/app.html.twig' %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin.projects.index') }}" title="{{ 'menu.admin.home'|trans }}">{{ 'menu.admin.home'|trans }}</a></li>
            <li class="breadcrumb-item">
                <a href="{{ path('admin.projects.index') }}" title="{{ 'menu.admin.studies' | trans }}">
                    {{ 'menu.admin.studies' | trans }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ 'general.file' | trans }}  - {{ project.acronyme|capitalize }}
            </li>
        </ol>
    </nav>

    <div class="py-3 text-center mb-3" style="background-color: {{ project.backgroundColor }};">
        {% if project.logo %}
            <img class="d-block mx-auto mb-4" src="{{ vich_uploader_asset(project, 'logoFile') }}"
                 alt="{{ project.logo }}" width="72" height="72">
        {% else %}
            <img class="d-block mx-auto mb-4" src="{{ asset('build/images/unicancer.png') }}" alt="unicancer" width="72"
                 height="72">
        {% endif %}
        <h2 style="color: {{ project.fontColor }}; word-break: break-word">{{ project.name }}</h2>
        <p class="lead">{{ project.protocole }}</p>
        <br>
        {% if project.closeDemandedAt is not null %}
            <span class="badge badge-info">{{ 'entity.Project.register.action.closeDemandedAt'|trans }} {{ project.closeDemandedAt|date('d/m/Y') }} par {{ project.closedDemandBy.fullName }}</span>
        {% else %}
            {% if is_granted('PROJECT_CLOSE_DEMAND', project) %}
                <a class="btn btn-info" href="{{ path('admin.project.closeDemand', {'id' : project.id }) }}">{{ 'entity.Project.register.action.closeDemand'|trans }}</a>
            {% endif %}
        {% endif %}

        {% if project.closedAt is not null %}
            <span class="badge badge-info">{{ 'entity.Project.register.action.closeDemandAt'|trans }} {{ project.closedAt|date('d/m/Y') }}</span>
            {% if is_granted('PROJECT_OPEN', project) %}
                <a class="btn btn-info" href="{{ path('admin.project.open', {'id' : project.id }) }}">{{ 'entity.Project.register.action.cancelDemand'|trans }}</a>
            {% endif %}
        {% else %}
            {% if is_granted('PROJECT_CLOSE', project) %}
                <a class="btn btn-info" href="{{ path('admin.project.close', {'id' : project.id }) }}">{{ 'entity.Project.register.action.closeAccept'|trans }}</a>
                <a class="btn btn-info" href="{{ path('admin.project.close_not', {'id' : project.id }) }}">{{ 'entity.Project.register.action.closeRefus'|trans }}</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="admin-block">
        <div class="sf-read{{ action == 'edit' ? ' d-none' : '' }}">
            {# Caractéristique du projet #}
            <h5>{{ 'entity.Project.header.characteristic_management' | trans }}</h5>
            <dl class="row">
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.name_french' | trans }} :</dt>
                    <dd style="word-break: break-word">{{ project.name }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.name_english' | trans }} :</dt>
                    <dd style="word-break: break-word">{{ project.nameEnglish }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.acronym' | trans }} :</dt>
                    <dd>{{ project.acronyme }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.status.label' | trans }} :</dt>
                    <dd>{{ project.projectStatus ?? '' }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.ref' | trans }} :</dt>
                    <dd>{{ project.ref }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.promoter' | trans }} :</dt>
                    <dd>{{ project.sponsor ?? '' }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.studyPopulation' | trans }} :</dt>
                    {% if project.studyPopulation is not null %}
                        <dd>
                            {% if '0' in project.studyPopulation %}
                                {{ constant('STUDY_POPULATION', project)[0] }} <br>
                            {% endif %}
                            {% if '1' in project.studyPopulation %}
                                {{ constant('STUDY_POPULATION', project)[1] }}
                            {% endif %}
                        </dd>
                    {% else %}
                        <dd>{{ project.studyPopulation }}</dd>
                    {% endif %}
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.eudractNumber' | trans }} :</dt>
                    <dd>{{ project.eudractNumber }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.nctNumber' | trans }} :</dt>
                    <dd>{{ project.nctNumber }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.trl_indice' | trans }} :</dt>
                    <dd>{{ project.trlIndice }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.territory' | trans }} :</dt>
                    <dd>{{ project.territory }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.countries' | trans }} :</dt>
                    {% if project.countries is not null %}
                        <dd>{{ project.countries|map((country) => country.name )|join(' | ') }}</dd>
                    {% endif %}
                </div>

                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.responsiblePM' | trans }} :</dt>
                    <dd>{{ project.responsiblePM }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.responsibleCRA' | trans }} :</dt>
                    <dd>{{ project.responsibleCRA }}</dd>
                </div>
            </dl>

            {# Caractéristiques des essais #}
            <h5>{{ 'entity.Project.header.trail_management' | trans }}</h5>
            <dl class="row">
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.trail_phase' | trans }} :</dt>
                    <dd>{{ project.trailPhase ?? '' }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.membership_group' | trans }} :</dt>
                    <dd>{{ project.membershipGroup ?? '' }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.trail_type' | trans }} :</dt>
                    <dd>{{ project.trailType ?? '' }}</dd>
                </div>
            </dl>


            {% if trail_treatments %}
            <br>
            <div class="table-drug-project">
                <div class="table-wrap table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'entity.Project.register.labels.trail_treatment' | trans }}</th>
                            <th>{{ 'entity.Project.register.labels.drug' | trans }}</th>
                            <th>{{ 'entity.Drug.field.version_bi' | trans }}</th>
                            <th>{{ 'entity.Drug.field.version_rcp' | trans }}</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for treatment in trail_treatments %}
                            <tr>
                                {% if treatment.drug is not null  %}
                                    <td>{{ treatment.drug.trailTreatment.label ?? '' }}</td>
                                {% else %}
                                    <td>{{ treatment.TrailTreatment.label ?? '' }}</td>
                                {% endif %}
                                <td>{{ treatment.drug.name ?? '' }}</td>
                                <td>{{ treatment.VersionBi.version ?? '' }}</td>
                                <td>{{ treatment.VersionRcp.version ?? '' }}</td>
                                <td>
                                    {% if loop.last %}
                                    <a data-add-btn href="{{ path('admin.project.new_trail_treatment', {'id': project.id}) }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            {% else %}
                <p class="text-right">
                    <a data-add-btn href="{{ path('admin.project.new_trail_treatment', {'id': project.id}) }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ 'entity.Project.action.new_treatment' | trans }}</a>
                </p>
            {% endif %}

            {# CRF #}
            <h5>{{ 'entity.Project.header.crf_management' | trans }}</h5>
            <dl class="row">
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.crfType' | trans }} :</dt>
                    <dd>{{ project.crfType }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.url' | trans }} :</dt>
                    <dd>{{ project.crfUrl }}</dd>
                </div>
            </dl>

            <h5>{{ 'entity.Project.header.sites_management' | trans }}</h5>
            <dl class="row">
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.payment_unit' | trans }} :</dt>
                    <dd>{{ project.paymentUnit }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.patient_number' | trans }} :</dt>
                    <dd>{{ project.patientNumber }}</dd>
                </div>
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.add_intervenants' | trans }} :</dt>
                    {% for intervenant in project.metasUser %}
                        <dd>{{ intervenant }}</dd>
                    {% endfor %}
                </div>

                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.add_investigateurs' | trans }} :</dt>
                    {% for participant in project.metasParticipant %}
                        <dd>{{ participant }}</dd>
                    {% endfor %}
                </div>

            </dl>

            <h5>{{ 'entity.Project.header.responsibility_management' | trans }}</h5>
            <dl class="row">
                <div class="col-4">
                    <dt>{{ 'entity.Project.register.labels.coordinating_investigators' | trans }} :</dt>
                    <dd>{{ project.coordinatingInvestigators }}</dd>
                </div>
            </dl>

            <h5>{{ 'entity.Project.header.delegation_management' | trans }}</h5>
            <dl class="row">
                {% if project.Delegation is not null %}
                    <div class="col-4">
                        <dt>{{ 'entity.Project.register.labels.sponsor' | trans }} :</dt>
                        <dd>{{ project.sponsor }}</dd>
                    </div>
                    <div class="col-4">
                        <dt>{{ 'entity.Project.register.labels.regulatory' | trans }} :</dt>
                        <dd>{% if project.delegation.regulatory == 1 %} Oui {% else %} Non {% endif %}</dd>
                    </div>
                    <div class="col-4">
                        <dt>{{ 'entity.Project.register.labels.manitoring' | trans }} :</dt>
                        <dd>{% if project.delegation.manitoring == 1 %} Oui {% else %} Non {% endif %}</dd>
                    </div>
                    <div class="col-4">
                        <dt>{{ 'entity.Project.register.labels.pharmacovigilance' | trans }} :</dt>
                        <dd>{% if project.delegation.pharmacovigilance == 1 %}
                                Oui
                                {% if project.delegation.dsur %}
                                    <span class="badge badge-info">DSURs</span>
                                {% endif %}
                                {% if project.delegation.susar %}
                                    <span class="badge badge-info">SUSARs</span>
                                {% endif %}
                            {% else %} Non {% endif %}
                        </dd>
                    </div>
                {%  else %}
                    <div class="col-4">
                        <dt>{{ 'entity.Project.register.labels.sponsor' | trans }} :</dt>
                        <dd>UNICANCER</dd>
                    </div>
                {% endif %}
            </dl>


            {% if is_granted('PROJECT_EDIT', project) %}
                <a class="btn btn-primary"
                   href="{{ path('admin.project.edit', {'id' : project.id}) }}">{{ 'entity.Project.modify'|trans }}</a>
            {% endif %}
        </div>

    </div>
    <div class="admin-block">
        <h5>{{ 'entity.Project.user.user_list'|trans }}</h5>
        <div class="table-responsive">
            <table class="w-100">
                <tr>
                    <th>{{ 'entity.User.label'|trans({'%count%': 1}) }}</th>
                    <th>{{ 'entity.fields.enabled_at'|trans }}</th>
                    <th>{{ 'entity.fields.disabled_at'|trans }}</th>
                </tr>
                {% for userProject in project.userProjects %}
                    <tr>
                        <td>
                            <a href="{{ path('admin.user.show', {'id' : userProject.user.id}) }}">{{ userProject.user.displayName }}</a>
                        </td>
                        <td>{{ userProject.enabledAt|date('d/m/Y') }}</td>
                        <td>{{ userProject.disabledAt is empty ? '' : userProject.disabledAt|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
