{# set current menu #}
{% set activeMenu = 'center' %}
{% set subMenu = 'project' %}
{% set activeMenu2 = 'protocol-deviation' %}

{% extends 'layout/app.html.twig' %}

{% block title %}Déviation - échantillions{% endblock %}

{% block body %}

    <h1>Déviations protocolaires</h1>

    {% include 'menu/deviation.html.twig' with {'activetab': 'sample', 'deviationID' : deviation.id} %}

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center mt-3">{{ 'deviation.titre.associateSample'|trans|capitalize }}
                {% if is_granted('DEVIATION_ASSOCIATE_DEVIATION_SAMPLE', deviation) and is_granted('PROJECT_WRITE', project) %}
                    <a class="btn btn-primary ml-2"
                       href="{{ path('deviation.sample.associate', { 'projectID' : project.id, 'deviationID' : deviation.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="table-responsive mt-3">
                <table class="w-100">
                    <tr>
                        <th>{{ 'entity.Deviation.DeviationSample.field.deviation.project'|trans }}</th>
                        <th>{{ 'entity.Deviation.DeviationSample.field.deviation.number'|trans }}</th>
                        <th>{{ 'entity.Deviation.DeviationSample.field.deviation.description'|trans }}</th>
                        <th>Actions</th>
                    </tr>

                    {% for deviationAndSample in deviationAndSamples %}
                        {% for project in deviationAndSample.deviationSample.projects %}
                            {% if project.id == deviation.project.id %}
                                <tr>
                                    <td>{{ project.name|capitalize }}</td>
                                    <td>{{ deviationAndSample.deviationSample.code }}</td>
                                    <td>{{ deviationAndSample.deviationSample.resume }}</td>
                                    <td>
                                        {% if is_granted('DEVIATION_ASSOCIATE_DEVIATION_SAMPLE', deviationAndSample.deviation) %}
                                            <a class="deviation-disassociate-deviationSample"
                                               href="{{ path('deviation.sample.dissociate', { 'projectID' : project.id, 'deviationSampleID' : deviationAndSample.deviationSample.id, 'deviationID': deviation.id }) }}">
                                                <i class="fa fa-unlink"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('deviation') }}
{% endblock %}
