{% set activeMenu = 'drugs' %}

{% extends 'layout/app.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin.projects.index') }}" title="{{ 'menu.admin.home'|trans }}">{{ 'menu.admin.home'|trans }}</a></li>
            <li class="breadcrumb-item">
                    <a href="{{ path('admin.drugs.index') }}" title="{{ 'menu.admin.drugs' | trans }}">
                        {{ 'menu.admin.drugs' | trans }}
                    </a>
            </li>
        </ol>
    </nav>

    <h1>
        {{ 'entity.Drug.field.list'|trans }}
        {% if is_granted('DRUG_CREATE') %}
        <a class="btn btn-primary" href="{{ path('admin.drug.new') }}" >
            <i class="fa fa-plus"></i>
        </a>
        {% endif %}
    </h1>


    {{ list.render|raw }}

{% endblock %}
