{% set arr = ['user', 'profile', 'project', 'user_project', 'publication', 'funding', 'institution', 'service',
    'interlocutor', 'center', 'interlocutor_center', 'date', 'rule', 'submission', 'project_database_freeze',
    'document_tracking', 'document_tracking_center', 'document_tracking_interlocutor', 'courbe_setting','patient','patient_data',
    'visit_patient', 'drug', 'document_transverse', 'version_document_transverse', 'deviation_correction', 'deviation',
    'deviation_review', 'deviation_action', 'report_visit', 'deviation_sample', 'deviation_sample_action', 'deviation_sample_correction',
    'deviation_system', 'deviation_system_correction', 'deviation_system_action', 'deviation_system_review', 'zone', 'section', 'artefact', 'mailgroup', 'tag', 'document', 'document_version'] %}

<div class="d-block d-lg-none mb-5 dropdown text-center" aria-label="Sidebar page navigation">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Audit trail
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for item in arr %}
            <a class="dropdown-item" href="{{ path('admin.audit_trail.generic.index', {category: item}) }}">{{ ('menu.header.'~item)|trans }}</a>
        {% endfor %}
        <a class="dropdown-item auditTrail" href="{{ path('admin.audit_trail.connexion') }}">{{ 'Connexions' | trans }}</a>
        <a class="dropdown-item auditTrail" href="{{ path('admin.audit_trail.connexion_error') }}">{{ 'Erreurs de connexion' | trans }}</a>
    </div>
</div>
