<li class="nav-item">
    <a class="nav-link{{ activeMenu2 == 'zone' ? ' active' : ''}}" href="{{ path('app.etmf.zone') }}">{{ 'etmf.zone.label'|trans }}</a>
</li>

<li class="nav-item">
    <a class="nav-link{{ activeMenu2 == 'section' ? ' active' : ''}}" href="{{ path('app.etmf.section') }}">{{ 'etmf.section.label'|trans }}</a>
</li>

<li class="nav-item">
    <a class="nav-link{{ activeMenu2 == 'artefact' ? ' active' : ''}}" href="{{ path('app.etmf.artefact') }}">{{ 'etmf.artefact.label'|trans }}</a>
</li>
