{% set activeMenu = 'etmf-artefact' %}
{% set subMenu = 'etmf-artefact' %}
{% set activeMenu2 = 'artefact' %}

{% extends 'ETMF/layout/app.html.twig' %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app.etmf.home') }}" title="Accueil">Accueil</a>
            </li>
            <li class="breadcrumb-item active">
                {{ 'etmf.artefact.label'|trans }}
            </li>
        </ol>
    </nav>

    <h1>
        {{ 'etmf.artefact.action.list'|trans }}
        <a class="btn btn-primary" href="{{ path('app.etmf.artefact.new') }}">
            <i class="fa fa-plus"></i>
        </a>
    </h1>

    {{ list.render|raw }}

{% endblock %}



