{% set activeMenu = 'project' %}
{% set subMenu = 'project' %}
{% set activeMenu2 = 'funding' %}

{% extends 'layout/app.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('projects.index') }}" title="{{ 'app.home'|trans }}">{{ 'app.home'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.home.index', { 'id' : project.id }) }}"
                                           title="{{ project.acronyme }}">{{ project.acronyme }}</a></li>
            <li class="breadcrumb-item active">{{ 'entity.Funding.action.list'|trans }}</li>
        </ol>
    </nav>

    <h1>{{ 'entity.Funding.action.list'|trans }} <br>
        {% if is_granted('PROJECT_ACCESS_AND_OPEN', project) and is_granted('PROJECT_WRITE', project) and is_granted('FUNDING_CREATE') %}
            <a class="btn btn-primary" href="{{ path('project.fundings.new', {'id' : project.id}) }}">{{ 'entity.Funding.action.new'|trans }}</a>
        {% endif %}
    </h1>

    {{ list.render|raw }}
{% endblock %}
