{% set activeMenu = 'settings' %}
{% set subMenu = 'settings' %}
{% set activeMenu2 = 'monitoring-model' %}

{% extends 'layout/app.html.twig' %}

{% block body %}

    <nav aria-label="breadcrumb">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('projects.index') }}" title="{{ 'app.home'|trans }}">{{ 'app.home'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('project.show', { 'id' : project.id }) }}" title="{{ project.name }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('project.report.model.index', { 'id' : project.id }) }}" title="{{ 'entity.setting_monitoring_model.title' | trans }}">{{ 'entity.setting_monitoring_model.title'|trans }}</a></li>
        </ol>

    </nav>

    <h1>
        {{ 'entity.setting_monitoring_model.title' | trans }}
    </h1>

    {{ list.render|raw }}

{% endblock %}
