{% set activeMenu = 'etmf' %}

{% extends 'ETMF/layout/app.html.twig' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('app.etmf.home') }}" title="Accueil">Accueil > document</a>
            </li>
            <li class="breadcrumb-item active">{% if edit %} Modification {% else %} Création {% endif %}</li>
        </ol>
    </nav>


    <h1>{% if edit %} {{ 'etmf.document.action.edit'|trans }} {%  else %} {{ 'etmf.document.action.add'|trans }} {% endif %}</h1>
    <div class="admin-block">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-6">
                {{ form_row(form.description) }}
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.zone) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.section) }}
            </div>
            <div class="col-6">
                {{ form_row(form.artefact) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(form.documentLevels) }}
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(form.sponsor) }}
            </div>
            <div class="col-6">
                {{ form_row(form.project) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(form.countries) }}
            </div>
            <div class="col-6">
                {{ form_row(form.centers) }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                {{ form_row(form.file) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(form.author) }}
            </div>
            <div class="col-6">
                {{ form_row(form.applicationAt) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(form.expiredAt) }}
            </div>
            <div class="col-6">
                {{ form_row(form.signedAt) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_row(form.validatedQaBy) }}
            </div>
            <div class="col-6">
                {{ form_row(form.validatedQaAt) }}
            </div>
        </div><div class="row mt-5">
            <div class="col-6">
                {{ form_row(form.tags) }}
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" type="submit">
                    {% if edit %} {{ 'etmf.document.action.edit'|trans }} {%  else %} {{ 'etmf.document.action.new'|trans }} {% endif %}
                </button>
                <br>
                <br>
                <span style="color: #c30000">* {{ ('general.star.mandatory')|trans }}</span>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


